{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<h2>Home</h2>
	Hi {{user.username}}
	{% if user.is_admin or user.is_superuser %}
		<form action="users/list" >
		    <br><br>
		    <input type="submit" value="View users">
		</form>
		<form action="users/add" >
		    <br><br>
		    <input type="submit" value="Add a new user">
		</form>
	{% endif %}
<form action="users/{{user.id}}" >
    <br><br>
    <input type="submit" value="View Profile">
</form>

{% else %}
	<h2>Hello Vistor </h2>
	<br>
	<p>If you are a member please login or Signup now </p>
{% endif %}
{% endblock %}
