{% extends 'user_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
	<h2>Login</h2>
	<form class="form-horizontal" method="post">{% csrf_token %}
	    <fieldset>
	        {% for field in form %}
	            {% if field.errors %}
	                <div class="control-group error">
	                    <label class="control-label">{{ field.label }}</label> 
	                    <div class="controls">{{ field }}
	                        <span class="help-inline">
	                            {% for error in  field.errors %}{{ error }}{% endfor %}
	                        </span>
	                    </div>
	                </div>
	            {% else %}
	                <div class="control-group">
	                    <label class="control-label">{{ field.label }}</label> 
	                    <div class="controls">{{ field }}
	                        {% if field.help_text %}
	                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
	                        {% endif %}
	                    </div>
	                </div>
	            {% endif %}
	        {% endfor %}
	    </fieldset>
	    <div class="form-actions">
	    	<br><br>
	        <button type="submit" class="btn btn-primary" >Login</button>
	    </div>

	</form>
	<form action="{% url 'social:begin' 'google-oauth2' %}">
	<br><br>
    <button type="submit" class="btn btn-danger"> <i class="fa fa-google-plus" aria-hidden="true"></i> | Login With G+ </button>
</form>
</div>


{% endblock %}
